.student-dashboard {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

select {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

.question-container {
    margin-top: 20px;
}

h4 {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* 
input[type="radio"] {
    margin-right: 10px;
} */

.buttons {
    margin-top: 20px;
}

/* button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
} */

/* button:hover {
    background-color: lightblue;
} */

.error {
    color: red;
    font-weight: bold;
}
